<a href="https://colab.research.google.com/github/MNYudina/Seminars/blob/master/practWithPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# импортируем библиотеки numpy и pandas, and DataFrame / Series
import numpy as np
import pandas as pd
# from pandas import DataFrame, Series

# импортируем библиотеку datatime для работу с датами
import datetime
from datetime import datetime, date

# Задаем некоторые опции pandas, которые настраивают вывод
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

# Импортируем matplotlib для построения графиков
import matplotlib.pyplot as plt
%matplotlib inline
# вот что нашла про магическую команду %matplotlib https://pyprog.pro/mpl/mpl_magic_teams.html

Series - это набор данных. Что-то вроде ассоциированного списка (Map в java)[Текст ссылки]

In [9]:
# Создаем из четырех элементов объект Series
s = Series([1, 2, 3, 4])
s

NameError: ignored

In [1]:
# получаем значение для метри индекса 1
s[1]

NameError: ignored

In [ ]:
# create a series using an explicit index
s = Series([1, 2, 3, 4], 
           index = ['a', 'b', 'c', 'd'])
s

a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
# look up items the series having index 'a' and 'd'
s[['a', 'd']]

a    1
d    4
dtype: int64

In [ ]:
# passing a list of integers to a Series that has
# non-integer index labels will look up based upon
# 0-based index like an array
s[[1, 2]]

b    2
c    3
dtype: int64

In [ ]:
# get only the index of the Series
s.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [ ]:
# create a Series who's index is a series of dates
# between the two specified dates (inclusive)
dates = pd.date_range('2014-07-01', '2014-07-06')
dates

DatetimeIndex(['2014-07-01', '2014-07-02', '2014-07-03', '2014-07-04',
               '2014-07-05', '2014-07-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
# create a Series with values (representing temperatures)
# for each date in the index
temps1 = Series([80, 82, 85, 90, 83, 87], 
                index = dates)
temps1

2014-07-01    80
2014-07-02    82
2014-07-03    85
2014-07-04    90
2014-07-05    83
2014-07-06    87
Freq: D, dtype: int64

In [ ]:

# calculate the mean of the values in the Series
temps1.mean()

84.5

In [ ]:
# create a second series of values using the same index
temps2 = Series([70, 75, 69, 83, 79, 77], 
                index = dates)
# the following aligns the two by their index values
# and calculates the difference at those matching labels
temp_diffs = temps1 - temps2
temp_diffs

2014-07-01    10
2014-07-02     7
2014-07-03    16
2014-07-04     7
2014-07-05     4
2014-07-06    10
Freq: D, dtype: int64

In [ ]:
# lookup a value by date using the index
temp_diffs['2014-07-03']

16

In [ ]:
# create a DataFrame from the two series objects temp1 and temp2
# and give them column names
temps_df = DataFrame(
            {'Missoula': temps1, 
             'Philadelphia': temps2})
temps_df

            Missoula  Philadelphia
2014-07-01        80            70
2014-07-02        82            75
2014-07-03        85            69
2014-07-04        90            83
2014-07-05        83            79
2014-07-06        87            77

In [ ]:
# get the column with the name Missoula
temps_df['Missoula']

2014-07-01    80
2014-07-02    82
2014-07-03    85
2014-07-04    90
2014-07-05    83
2014-07-06    87
Freq: D, Name: Missoula, dtype: int64

In [ ]:
# likewise we can get just the Philadelphia column
temps_df['Philadelphia']

2014-07-01    70
2014-07-02    75
2014-07-03    69
2014-07-04    83
2014-07-05    79
2014-07-06    77
Freq: D, Name: Philadelphia, dtype: int64

In [ ]:
# return both columns in a different order
temps_df[['Philadelphia', 'Missoula']]

            Philadelphia  Missoula
2014-07-01            70        80
2014-07-02            75        82
2014-07-03            69        85
2014-07-04            83        90
2014-07-05            79        83
2014-07-06            77        87

In [ ]:
# calculate the temperature difference between the two cities
temps_df.Missoula - temps_df.Philadelphia

2014-07-01    10
2014-07-02     7
2014-07-03    16
2014-07-04     7
2014-07-05     4
2014-07-06    10
Freq: D, dtype: int64

In [ ]:
# add a column to temp_df which contains the difference in temps
temps_df['Difference'] = temp_diffs
temps_df

            Missoula  Philadelphia  Difference
2014-07-01        80            70          10
2014-07-02        82            75           7
2014-07-03        85            69          16
2014-07-04        90            83           7
2014-07-05        83            79           4
2014-07-06        87            77          10

In [ ]:
# get the columns, which is also an Index object
temps_df.columns

Index(['Missoula', 'Philadelphia', 'Difference'], dtype='object')

In [ ]:
# slice the temp differences column for the rows at 
# location 1 through 4 (as though it is an array)
temps_df.Difference[1:4]

2014-07-02     7
2014-07-03    16
2014-07-04     7
Freq: D, Name: Difference, dtype: int64

In [ ]:
# get the row at array position 1
temps_df.iloc[1]

Missoula        82
Philadelphia    75
Difference       7
Name: 2014-07-02 00:00:00, dtype: int64

In [ ]:
# the names of the columns have become the index
# they have been 'pivoted'
temps_df.ix[1].index

AttributeError: ignored

In [ ]:
# retrieve row by index label using .loc
temps_df.loc['2014-07-03']

In [ ]:
# using 0-based location
temps_df.iloc[[1, 3, 5]].Difference

In [ ]:
# which values in the Missoula column are > 82?
temps_df.Missoula > 82

In [ ]:
# return the rows where the temps for Missoula > 82
temps_df[temps_df.Missoula > 82]

NameError: ignored

Загрузга из csv- файла в DataFrame

In [ ]:
from google.colab import files
uploaded = files.upload()
# display the contents of test1.csv
# which command to use depends on your OS
#!cat uploaded # on non-windows systems
!type uploaded # on windows systems